<router-outlet></router-outlet>


<!-- Modals -->
<div class="modal" id="aboutUsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">About us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>iNOte is a modern digital assistant made to simplify event management.</p>

                <h6 class="heading">How it works</h6>
                <ol>
                    <li>Click get started to sign in with your google account</li>
                    <li>Click <b>retrieve events</b> to get a list of events on your calender</li>
                    <li>Thats it!</li>
                </ol>
                <small class="text-danger">Now you can receive voice notifications 5 minutes before your events.</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>