@import '../../../theme.scss';

.list-group-item{
    transition: all 200ms ease-in;
    background-origin: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom right, white, whitesmoke, #ECEFF1);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);

    h4{
        font-weight: bolder;
        color: $primary;
    }

    #mid-text{
        font-style: oblique;
        font-size: 0.95em;
        color: $muted;
        margin: 2em auto;
    }
}

.mid-text-active{
    color: red !important;
    font-weight: bold !important;
}

.list-group-item:hover{
    background: $primary;
    color: white !important;
    h4{
        color: white;
    }


}


.jumbotron{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed86b965826826e3dd08bb3b33726543&auto=format&fit=crop&w=707&q=80');
}

.profile-img{
    img{
        border-radius: 50%;
    }
}


#attendees{
    list-style: none;
    overflow: hidden;

    li{
        float: left;
        margin: 0.5em 1em;
        background: green;
        border-radius: 1em;
        color: whitesmoke;
        text-overflow: inherit;
        padding:0.2em 0.4em;
        a{
            display: block;
            text-align: center;
            padding: 0.5em;
            
        }
    }
}