<div id="overview-container">
  <div id="header">
    <div class="jumbotron text-center jumbotron-fluid">

      <div *ngIf="!(auth.user|async)">
        <h1 class="display-4">Welcome to iNote</h1>
        <p class="lead">{{ today }}</p>
        <hr class="my-4">
        <div id="sign-up-btns">
          <button class="btn btn-primary" (click)="auth.login()">Get started</button>
        </div>
      </div>
      <div *ngIf="auth.user | async as user">
        <h1>Hello, {{ user.displayName }}!</h1>
        <hr class="my-4 bg-light w-25">
        <button class="btn btn-primary" (click)="auth.getCalendar();localRetrieve()">Retrive events</button>
      </div>
    </div>
  </div>

  <div class="container px-4 pb-5" id="items">

    <div *ngIf="(auth.user | async ); else noLogin" class="list-group">
      <div class="row">

        <!-- Date mini card -->
        <div class="col-lg-3 pt-4">
          <span class="text-secondary">
            <b>Today: </b>{{ today | date: 'EEE, MMM d, y' }}
          </span>
          <div class="profile-img w-100 mx-auto">
              <img class="mx-auto d-block w-50" src="{{ (auth.user | async)?.photoURL }}">
          </div>
        </div>
        <!-- /Date -->

        <!-- Event card -->
        <div class="event-card col-lg-9">
          <a id="{{item.id}}" *ngFor="let item of auth.calenderItems" class="list-group-item border border-primary list-group-item-action flex-column align-items-start my-4">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ item.summary }}</h5>
              <small>{{ item.location }}</small>
            </div>
            <p class="mb-1 text-center"><span>{{ item.start.dateTime | date:'EEEE h:mm:ss a'}}</span></p>
            <!-- <button class="btn" (click)="playEventVoiceNote(item)">Test me</button> -->
            <div class="row px-4"><small><b>Attendees:</b></small>
              <ul id="attendees">
                <li *ngFor="let member of item.attendees">
                  {{ member.displayName }}
                </li>

              </ul>
            </div>
          </a>
          <hr class="my-4">
          <button class="btn w-100" routerLink="/inote/add">Add Event</button>
        </div>


      </div>

      
    </div>
    <!-- /event list -->
    <ng-template #noLogin>
      <div class="w-50 mx-auto text-center">
          <li><span class="text-danger">Click on get started to add new events.</span></li>
      </div>
    </ng-template>

  </div>

  <!-- /overview container -->
</div>